.nav img{
    height: 80px;
    width: 80px;
    background-color: black;
}
.nav{
    background-color: black;
}
.nav ul li{
    display: inline;
    list-style-type: none;
    
}
body{
    background-image: url(1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
    padding: 0%;
}
.nav ul li a{
    margin-left: 200px;
    font-size: 20px;
    color:lightyellow;
    text-decoration: none;
}
.nav ul{
    transform: translateY(8px);
}
.nav ul li a:hover{
    text-decoration: underline;
}
.nav button{
    padding: 8px;
    width: 100px;
    border-radius: 20px;
    border: white;
    border-style: solid;
    background-color: transparent;
    color: white;
}
.nav button:hover{
    background-color: white;
    color: black;
}
h1{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    padding-bottom: 200px;
    font-size: 70px;
    color: white;
}
h3{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    color: white;   
}
